body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.title {
  height: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.package-table {
  display: flex;
  height: calc(100vh - 3.5rem);
}

.package-list {
  flex: 2;
  max-height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;

  input[type='radio'] {
    display: none;

    &:checked + label {
      background: #d3d3d3;
      font-weight: bold;
    }
  }

  label {
    cursor: pointer;
    display: block;
    padding: 0.25rem 1rem;
    width: 100%;
  }
}

.package-information {
  flex: 5;
  overflow: scroll;
  vertical-align: top;

  > ul {
    margin: 0;
  }
}

.package-list,
.package-information {
  border: 0.1rem solid #d3d3d3;
  margin: 1rem;
  padding: 1rem 0;
}
